{
  "openapi": "3.0.0",
  "info": {
    "title": "FREE BASICS API",
    "description": "Public information and offer routes for Free Basics.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://freebasics.online"
    }
  ],
  "paths": {

    "/blog/{slug}": {
      "get": {
        "summary": "Public blog article",
        "description": "Returns a published Free Basics article.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Article found"
          },
          "404": {
            "description": "Article not found"
          }
        }
      }
    },

    "/angebote/{slug}": {
      "get": {
        "summary": "Public offer page",
        "description": "Returns a published Free Basics offer page.",
        "parameters": [
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Offer page found"
          },
          "404": {
            "description": "Offer page not found"
          }
        }
      }
    },

    "/health": {
      "get": {
        "summary": "System health",
        "responses": {
          "200": {
            "description": "System healthy"
          }
        }
      }
    }

  }
}
