<section class="affiliate-disclosure"
         aria-label="Affiliate Hinweis">

<h3>
Werbung / Anzeige
</h3>


<p>
Diese Seite enthält Partnerlinks.
Wenn über einen solchen Link eine Anfrage,
ein Kauf oder eine Partneraktion erfolgt,
kann Free Basics eine Vergütung erhalten.
</p>


<p>
Free Basics ist Tippgeber und stellt
Informationen zu Partnerangeboten bereit.
Die Abwicklung erfolgt direkt über den
jeweiligen Partner.
</p>


<p>
Partner:
{{partner_name}}
</p>


<p>
Stand:
{{updated_at}}
</p>


</section>
